<section class="main-header">
  <Div Align="right">
  <img src="<%=asset_path "achieve2.png" %>">
  </Div>
</section>
<section class="about">
  <h1>TWITTER風アプリ</h1>
  <p>
     TWITTER風アプリです。<br>
    あなたの自由な思いを呟いてください！
  </p>
  <p>
     そのつぶやきが<br>
    届けたい場所や人へ届くかもしれません。。。。。。。
  </p>
</section>

<footer>
<p>つぶやきたい事はありますか？</p>
  <p>内緒の事はここだけで・・・・</p>
</footer>